h1 {  font-family: 'Montserrat, sans-serif';  font-size: 3rem;  line-height: 1.5;  font-weight: 900; color: white;}

#title{
    background-color: #ff4c68;
    position: relative;
    z-index: 0;
}

.dog-picture{
    transform: rotate(30deg);
    height: 600px;
    position: absolute;
    z-index: -1;
    top: -80px;
    left: 70px;
}

#features{
    background-color: white;
    position: relative;
    z-index: 0;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}

.container-fluid{
    padding: 3% 15%;
}



.row{
    margin-top: 120px;
}

.download-buttons{
    margin-top: 2rem;
}

h3{
    font-family: 'Montserrat-Bold, sans-serif';  
    font-size: 1.5rem;  
    font-weight: bold;
}

p{
    color: #8f8f8f;
}

#features-container{
    padding: 7% 15%;
}



.feuture-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


#testimonials{
    background-color: #ef8172;
    text-align: center;
    
}

h2{
    font-family: "Montserrat-Bold";
    color: white;
}

.pricing-heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.pricing-para{
    text-align: center;
}

.dog-photo{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

em{
    color: white;
}

#press{
    background-color: #ef8172;
    padding: 7% 15%;
}

.press-logo{
    width: 20%;
    padding: 3%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
    text-align: center;
}

@media (max-width:1000px){
    .dog-picture{
        position: static;
        transform: rotate(0deg);
        height: 450px;
        padding-top: 50px;
    }

    #title{
        text-align: center;
    }
}

#cta{
    background-color: #ff4c68;
}

.cta-para{
    color: white;
    text-align: center;
    font-family: Montserrat-Bold, sans-serif;
    font-weight:900;
    font-size: 3rem;
    padding: 4% 7% ;
}

.download-buttons-footer{
    text-align: center;
    padding: 0% 7% 7% 7%;
}

#footer{
    text-align: center;
    padding: 7%;
}

.social-icon{
    margin: 20px 10px;
}